* {
    box-sizing: border-box;

    a {
       text-decoration: none;
       color: black;
   } 
}

body {
    background-image: url('../../assets/notebooks.jpg');
    background-size:135%; 
}

button {
    cursor: pointer;
}

.gallery { 
    width: 98%;
}

.title {
    color: white;
    font-weight:bolder;
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    padding: 20px;
}

.card_body {
    padding-bottom: 15vh;
    margin: 20vh 20vw 15vh 20vw;
    background-color:floralwhite;
    border: 2px solid black;
    align-self: center;

    h4 {
        padding-bottom: 3px;
        border-bottom:2px solid red;
        color: black;
    }

    p {
        border-bottom:1px solid blue;
        color:black;
    } 
}

.remove, .back {
    background-color: floralwhite;
    border-radius: 5px;
    padding: 0 1% 0 1%;
}

.remove:hover {
    border: 1px solid red;
    background-color: red;
}

.back:hover {
    border: 1px solid rgb(93, 238, 93);
    background-color: rgb(93, 238, 93);
}

.editButtons {
    display:flex;
    flex-direction: row-reverse;
    gap: 1vw;
    margin-right: 1vw;
    margin-bottom: 4vh;
} 

.update:hover {
    border: 1px solid black;
    color: pink;
}

.delete {
    color: pink;
}

.delete:hover{
    border: 1px solid pink;
    color: black;
}
