* {
    box-sizing: border-box;
   a {
       text-decoration: none;
       color: black;
   } 
    
}

body {
    background-image: url('../../assets/notebooks.jpg');
    background-size:cover;
}

i {
    margin-top: 2vh;
    margin-left: 54.5vw;
    margin-bottom: 4vh;
    color:pink;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.gallery { 
    width: 98%;
}

.title {
    color: white;
    font-weight:bolder;
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    padding: 20px;
}

.card_body {
    padding-bottom: 15vh;
    margin: 20vh 20vw 15vh 20vw;
    background-color:floralwhite;
    border: 2px solid black;
    align-self: center;

    h4 {
        padding-bottom: 3px;
        border-bottom:2px solid red;
        color: black;
    }

    p {
        border-bottom:1px solid blue;
        color:black;
    } 
}

.remove, .back {
    background-color: floralwhite;
    border-radius: 5px;
    padding: 0 1% 0 1%;
}

.remove:hover {
    border: 1px solid red;
    background-color: red;
}
.back:hover {
    border: 1px solid rgb(93, 238, 93);
    background-color: rgb(93, 238, 93);
}